li .underone {
  font-size: 30px;
  color: chartreuse; }

li .undertwo {
  font-size: 30px;
  color: rgba(65, 117, 12, 0.842); }

li .underthree {
  font-size: 30px;
  color: rgba(25, 37, 13, 0.308); }

h1 .nice {
  color: red; }

h1 .nice2 {
  font-size: 30px;
  color: rgba(65, 117, 12, 0.842); }

h1 .nice3 {
  font-size: 30px;
  color: rgba(25, 37, 13, 0.308); }
